body {
    margin: 0;
    background-image: url(images/beer-labels.jpg);
    background: linear-gradient(rgba(225, 229, 231, .5), rgba(225, 229, 231, .5)), url(images/beer-labels.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* beer component */
.pick-a-beer {
    font-family: 'Cinzen';
    font-size: 2em;
}

.beer-overlay {
    display: none;
}

beer-list {
    flex-direction: column;
    display: flex;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.99);
    z-index: 999999;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    font-family: 'Kreon', serif;
    flex-wrap: nowrap;
}

.beer-choices {
    width: 60%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.beer-choices p {
    margin: 3px 10px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.beer-name {
    font-family: 'Kreon', serif;
    font-size: 1.25em;
}

.extend-info {
    display: none;
    flex-direction: column;
    align-items: center;
}

.anim-logo {
    position: fixed;
    transition: all 2s;
    z-index: -10;
}

.anim-logo-active {
    left: 0px;
    top: 58%;
    transform: rotate(1080deg) scale(.001, .001) translate(-50%, -50%);
}

/* stats component */

.divider {
    display: none;
}
.drunk-stat{
    border: 8px solid transparent;
}
.round-num {
    border: 8px solid transparent;
}
.stats-bar {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    justify-content: center;
}

.desk-stat {
    display: none;
}

.avatar {
    display: none;
}

.drunk-stat,
.timer {
    font-family: 'Kreon';
    text-align: center;
    margin: 0 10px;
    height: 15%;
    width: 25%;
    background-color: #1E2D2F;
    color: #F7DBA7;
}

.drunk-stat p,
.round-num p,
.timer p {
    margin-bottom: 8px;
}

.num-display {
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
}

.round-num,
.timer {
    font-family: 'Kreon';
    text-align: center;
    margin: 0 10px;
    height: 15%;
    width: 25%;
    background-color: #1E2D2F;
    color: #F7DBA7;
}
@keyframes blinkBorder { 
    50% { border: 8px solid #F7DBA7;} 
 }
 .timer { /*or other element you want*/
     animation: blinkBorder .5s step-end infinite alternate;
     border: 8px solid transparent;
 }

/* title component */
title-screen {
    display: flex;
    align-items: center;
    height: 100vh;
}

.title-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-banner img {
    height: 19%;
    width: 19%;
}

h2 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 35px;
    margin: 10px;
    color: #F7DBA7;
}

h4 {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    margin: 5px 60px;
    text-align: center;
    color: #C57B57;
}

.blurb {
    font-family: 'Kreon', serif;
    text-align: center;
    margin: 0px 20px;
    font-size: 17px;
    color: white;
}


.instruction-call-btn {
    align-self: center;
    background-color: #1E2D2F;
    border: 3px solid #F7DBA7;
    color: #F7DBA7;
    font-size: 1em;
    padding: 5px;
    font-family: "Cinzel";
    font-weight: lighter;
    cursor: pointer;

    width: 35%;
    text-align: center;
    }

.instruction-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 100%;
    background-color: #1E2D2F;
    z-index: 778;
    width: 100%;
}

.how-to-play {
    font-family: 'Kreon', serif;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f7dba7;
    color: black;
    padding: 0 7% 0 7%;
}

.how-to-play button {
    font-size: 55pt;
    margin-bottom: 3%;
    background-color: #F7DBA7;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.instruction-overlay img {
    height: 20%;
    width: 35%;
    max-width: 143px;
    box-shadow: 0 0 12px 5px #F7DBA7;
    border-radius: 400px;
}

.instruction-overlay button {  /* To exit instructions page  */
    background-color: #1E2D2F;
    border: 3px solid #F7DBA7;
    color: white;
    font-size: .6em;
    padding: 5px;
    font-family: "Cinzel";
    cursor: pointer;
}


.character_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character_choice img {
    border-radius: 105px;
}

.characters {
    font-family: 'Kreon', serif;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    /* text-shadow: 2px 2px rgba(30, 45, 47, .2); */
    -webkit-text-stroke-color: #1E2D2F;
    -webkit-text-stroke-width: 1px;
}

.characters img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
}

.char p {
    padding-right: 5px;
    padding-left: 5px;
    margin: 5px;
}

.char {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px transparent;
    padding: 5px;
}

.title-screen {
    background-color: #1E2D2F;
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* width: 85vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

/* trivia component */

#timeOverlay {
    display: none;
}

#distraction-pic {
    display: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

@keyframes distract {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    25% {
        z-index: -10;
    }

    30% {
        opacity: .5;
        z-index: 100;
    }
}

trivia {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
}

.question-container {
    font-family: 'Kreon', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    /* width: 100%; */
}

.question {
    background-color: white;
    font-size: 28px;
    padding: 8px;
    border-radius: 5px;
    margin: 20px;
}


.answers p {
    background-color: white;
    font-size: 25px;
    padding: 8px;
    border-radius: 5px;
    margin: 20px 40px;
    min-width: 100px;
    cursor: pointer;
}

.winner-winner-chicken-dinner {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Cinzel';
    align-items: center;
    font-size: 32px;
    color: #F7DBA7;
    width: 100%;
    height: 100%;
    background-color: rgb(30, 45, 47);
    position: absolute;
    z-index: 9999;
}

.winner-winner-chicken-dinner button {
    background-color: #1E2D2F;
    border: 3px solid #F7DBA7;
    color: #F7DBA7;
    font-size: .6em;
    padding: 5px;
    font-family: "Cinzel";
    margin-bottom: 20px;
    cursor: pointer;
}

a {
    color: #F7DBA7;
    text-decoration: none;
}

.wrongOverlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #F7DBA7;
    height: 100vh;
    z-index: 9999;
    background-color: rgb(30, 45, 47);
    text-align: center;
    font-family: "Cinzel";
    line-height: .75;
}

.wrongOverlay button {
    margin-top: 2%;
    background-color: #1E2D2F;
    border: 3px solid #F7DBA7;
    color: #F7DBA7;
    font-size: .6em;
    padding: 5px;
    font-family: "Cinzel";
    cursor: pointer;
}

.correct-overlay {
    display: none;
}

.stat {
    max-width: 200px;
    margin-top: 10px;
}

.char img {
    box-shadow: 0px 0px 5px 5px transparent;
}

.char:hover img,
.answers p:hover,
.logo:hover, .blurb button:hover, .wrongOverlay button:hover, .winner-winner-chicken-dinner button:hover, .instruction-call-btn:hover {
    box-shadow: 0px 0px 5px 5px #F7DBA7;
}

.char:hover p {
    background-color: #F7DBA7;
    color: #1E2D2F;
}

.round2 {
    animation: xvision 1.5s cubic-bezier(0, .28, 1, 1.25) infinite alternate;
}


.round4 {
    animation: focus 3s ease-in infinite alternate-reverse;
}

.rotate {
    display: inline-block;
    animation: rot 3s linear infinite;
}

.rotateccw {
    display: inline-block;
    animation: rotccw 3s linear infinite;
}

.answer {
    display: inline-block;
}

@keyframes rot {}

@keyframes rotccw {}

@keyframes focus {
    0% {
        filter: blur(1px);
    }
}

@keyframes xvision {}

@media only screen and (min-width: 600px) {
    .beer-name {
        margin-left: 5px;
        font-size: 2em;
    }

    beer-list {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pick-a-beer {
        position: absolute;
        top: 42%;
        font-size: 4em;
    }

    .beer-choices {
        width: 45%;
        height: initial;
    }

    .logo {
        width: 300px;
        height: 235px;
        margin-top: 60px;
        max-width: 300px;
        max-height: 300px;
    }

    .anim-logo {
        display: none;
    }

    .char {
        width: 200px;
    }

    .characters {
        width: 80%;
        font-size: 25px;
    }

    .characters img {
        width: 70%;
    }

    .blurb {
        font-size: 20px;
    }

    .instruction-call-btn {
        height: 5%;
        font-size: 24px;
    }

    .title-screen {
        height: 95%;
        width: 80%;
        box-shadow: 0px 0px 10px 5px #F7DBA7;
    }

    title-screen {
        display: flex;
        justify-content: center;
    }

    .blurb button {
        font-size: 1em;
    }

    .title-banner img {
        height: 16%;
        width: 16%;
    }

    h2 {
        font-size: 42px;
    }

    h4 {
        font-size: 30px;
    }

    .instruction-overlay {
        justify-self: center;
        height: 95vh;
        width: 80%;
        /* position: absolute;
        right:0px; */
    }

    .instruction-overlay img {
        height: 20%;
        width: 30%;
        max-width: 208px;
        box-shadow: 0 0 12px 5px #F7DBA7;
        border-radius: 300px;
    }

    .how-to-play {
        border-radius: 15px;
        width: 40%;
        font-size: 12pt;
    }

    .beer-choices {
        width: 100%;
        position: absolute;
        right: 0px;

    }

    .beer-overlay p {
        margin-top: 45px;
    }

    .fas {
        color: white;
        height: 60px;
        margin: 10px;
        text-shadow: 2px 10px #F7DBA7;
        animation-name: flashyborder;
        animation-duration: 750ms;
        animation-iteration-count: infinite;
    }

    @keyframes flashyborder {
        from {
            text-shadow: 0px 5px #F7DBA7
        }

        to {
            text-shadow: 0px 12px #C57B57
        }
    }

    .wrongOverlay {
        font-size: 3em;
        width: 100%;
    }

    .correct-overlay {
        font-size: 4em;
        text-align: center;
        flex-direction: column;
    }

    .winner-winner-chicken-dinner {
        font-size: 3em;
    }

    .correct-overlay p {
        color: #F7DBA7;

    }

    .correct-overlay-images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

    #correct-arrows {
        font-size: 175px;
        position: relative;
        margin-bottom: 33%;
    }

    .correct-overlay img {
        margin-top: -14%;
        margin-bottom: -14%;
        height: 18%;
        width: 45%;
    }

    .question-container {
        margin-top: 20%;
        height: 100%;
        top: 50px;
        position: relative;
    }

    .question {
        font-size: 3em;
    }

    .answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
    }

    .answers p {
        font-size: 35px;
        width: 32%;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .blurb button {
        font-size: 1.2em;
    }

    h2 {
        font-size: 52pt;
    }

    .title-banner img {
        height: 11%;
        width: 11%;
    }

    .characters img {
        width: 200px;
        max-height: 200px;
    }

    .blurb {
        font-size: 20px;
    }

    .instruction-call-btn {
        height: 5%;
        font-size: 18px;
    }

    .how-to-play {
        width: 30%;
        font-size: 13pt;
    }

    .instruction-overlay img {
        height: 25%;
        width: 14.5%;
        max-width: 187px; 
        box-shadow: 0 0 12px 5px #F7DBA7;
        border-radius: 400px;
    }

    .game-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .right-pane {
        box-sizing: border-box;
        display: flex;
        width: 88%;
        height: 100%;
        flex-direction: column;
    }

    .how-to-play {
        width: 60%;
    }

    stats {
        width: 12%;
    }

    @keyframes wobble {
        25% {
            transform: rotate(15deg);
        }

        75% {
            transform: rotate(-15deg);
        }
    }
    .round-num, .drunk-stat {
        border: none;
    }
    .divider {
        display: block;
    }
    .timer {
        position: fixed;
        right: 0px;
        top: 2%;
        z-index: 0;
    }

    .avatar {
        display: block;
        width: 100px;
        height: 100px;
    }

    beer-list {
        position: relative;
        min-height: 155px;
        flex: 3;
        background-color: #1E2D2F;
        color: #F7DBA7;
        height: 15%;
        width: 100%;
        z-index: 0;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        border-bottom: 3px groove #F7DBA7;
    }

    .pick-a-beer {
        display: none;
    }

    .beer-name {
        width: 150px;
        margin-left: 5px;
        font-size: 1.25em;
    }

    .anim-logo {
        display: block;
    }

    .stats-bar {
        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1E2D2F;
        top: 0px;
        width: 100%;
        height: 100vh;
        border-right: 3px groove #F7DBA7;
    }

    .desk-stat {
        display: inline-block;
        font-family: 'Kreon';
        background-color: #1E2D2F;
        color: #F7DBA7;
        text-align: center;
    }

    .divider {
        font-size: 2em;
        text-shadow: 2px 2px #C57B57;
        margin: 0;
    }

    .drunk-stat,
    .round-num {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .drunk-stat p {
        margin: 0px;
    }

    .stat-header {
        font-size: 2.5em;
        text-shadow: 2px 2px #C57B57;
        -webkit-text-stroke-color: #1E2D2F;
        -webkit-text-stroke-width: 1px;
        margin: 0px;
    }

    .num-display {
        font-size: 2.5em;
        margin: 0;
    }

    .beer-choices {
        flex-direction: row;
        width: auto;
    }

    .logo {
        max-height: 150px;
        max-width: 150px;
        margin: 0;
    }

    .extend-info {
        width: 200px;
    }

    .beer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question-container {
        margin-top: 10px;
    }

    .answers {
        max-height: 350px;
    }

    .answers p {
        font-size: 35px;
        max-width: 80%;
        min-width: 300px;
        margin-top: 20px;
    }

    #distraction-pic {
        width: 87.5%;
    }

    .question {
        font-size: 42px;
        width: 80%;
    }

    .winner-winner-chicken-dinner {
        font-size: 4em;
        width: 89%;
        height: 84.5%;
    }

    .beer-overlay,
    .wrongOverlay,
    .correct-overlay {
        display: flex;
        flex-direction: column;
        font-family: 'Cinzel';
        align-items: center;
        justify-content: center;
        font-size: 7em;
        color: #F7DBA7;
        width: 87%;
        height: 80%;
        background-color: rgb(30, 45, 47);
        position: absolute;
        z-index: 9999;
        border-left: 5px solid #1E2D2F;
        border-right: 6px solid #1E2D2F;
    }

    .wrongOverlay {
        font-size: 4em;
    }

    /* ------- Start Correct Screen ------ */

    #correct-arrows {
        font-size: 225px;
    }

}