body {
    margin: 0;
    background-image: url(images/beer-labels.jpg);
    background: linear-gradient(rgba(225, 229, 231, .5), rgba(225, 229, 231, .5)), url(images/beer-labels.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* beer component */
.pick-a-beer {
    font-family: 'Cinzen';
    font-size: 2em;
}

.beer-overlay {
    display: none;
}

beer-list {
    flex-direction: column;
    display: flex;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999999;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    font-family: 'Kreon', serif;
    flex-wrap: wrap;
}

.beer-choices {
    width: 60%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.beer-choices p {
    margin: 3px 0px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.beer-name {
    font-family: 'Kreon', serif;
    font-size: 1.25em;
}

.extend-info {
    display: none;
    flex-direction: column;
    align-items: center;
}

/* stats component */

.stats-bar {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.desk-stat {
    display: none;
}

.avatar {
    display: none;
}

.drunk-stat {
    font-family: 'Kreon';
    text-align: center;
    margin: 0 10px;
    height: 15%;
    width: 25%;
    background-color: #1E2D2F;
    color: #F7DBA7;
}

.drunk-stat p,
.round-num p {
    margin-bottom: 8px;
}

.num-display {
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
}

.round-num {
    font-family: 'Kreon';
    text-align: center;
    margin: 0 10px;
    height: 15%;
    width: 25%;
    background-color: #1E2D2F;
    color: #F7DBA7;
}

/* title component */
title-screen {
    display: flex;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 35px;
    margin: 10px;
}

h4 {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    margin: 5px 60px;
    text-align: center;
}

.blurb {
    font-family: 'Kreon', serif;
    text-align: center;
    margin: 0px 20px;
    font-size: 18px;
}

.character_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters {
    font-family: 'Kreon', serif;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    text-shadow: 2px 2px rgba(30, 45, 47, .2);
}

.characters img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

.char_one, .char_two, .char_tres {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    cursor: pointer;
}

.title-screen {
    background-color: rgba(255, 255, 255, 0.9);
    /* width: 85vw; */
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* trivia component */

#distraction-pic {
    display: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

@keyframes distract {
    0% {opacity: 0;}
    10% {opacity: 0;}
    25% {z-index: -10;}
    30% {opacity: .5; z-index: 10;}
}

trivia {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.question-container {
    font-family: 'Kreon', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 10px; */
    /* width: 100%; */
}

.question {
    background-color: white;
    font-size: 28px;
    padding: 8px;
    border-radius: 5px;
    margin: 20px;
}


.answers p {
    background-color: white;
    font-size: 25px;
    padding: 8px;
    border-radius: 5px;
    margin: 40px;
    min-width: 100px;
    cursor: pointer;
}

.winner-winner-chicken-dinner {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Cinzel';
    align-items: center;
    font-size: 32px;
    color: #F7DBA7;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 45, 47, .99);
    position: absolute;
    z-index: 9999;
    color: white;
}

.winner-winner-chicken-dinner button {
    background-color: #1E2D2F;
    border: 3px solid #F7DBA7;
    color: #F7DBA7;
    font-size: .6em;
    padding: 5px;
    font-family: "Cinzel";
    margin-bottom: 20px;
    cursor: pointer;
}

a {
    color: #F7DBA7;
    text-decoration: none;
}

.wrongOverlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #F7DBA7;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(30, 45, 47, .99);
    text-align: center;
    font-family: "Cinzel";
}

.wrongOverlay button {
    background-color: #1E2D2F;
    border: 3px solid #F7DBA7;
    color: #F7DBA7;
    font-size: .6em;
    padding: 5px;
    font-family: "Cinzel";
    cursor: pointer;
}

.correct-overlay {
    display: none;
}   

.stat_one, .stat_two, .stat_tres{
    max-width: 200px;
    margin-top: 10px;
}

.char_one:hover img, .char_two:hover img, .char_tres:hover img, .answers p:hover, .logo:hover {
    box-shadow: 0px 0px 5px 5px #F7DBA7;
}

.char_one:hover img, .char_two:hover img, .char_tres:hover img {
    padding: 5px;
}


.char_one:hover p, .char_two:hover p, .char_tres:hover p {
    padding: 5px;
    background-color: #F7DBA7;
}
.round2 {
    animation: xvision 2s cubic-bezier(0, .28, 1, 1.25) infinite alternate;
}


.round4 {
    animation: focus 2s ease-in-out infinite alternate-reverse;
}

@keyframes focus {
    0% {
        filter: blur(1px);
    }
}

@keyframes xvision {}

@media only screen and (min-width: 600px) {

    beer-list {
        position: relative;
    }

    #distraction-pic {
        width: 87.5%;
    }

    .pick-a-beer {
        display: none;
    }

    .characters {
        width: 80%;
        font-size: 25px;
    }

    .characters img {
        width: 70%;
    }

    .blurb {
        font-size: 20px;
    }

    .title-screen {
        width: 80%;
        box-shadow: 0px 0px 10px 5px rgba(30, 45, 47, 0.8);
    }

    title-screen {
        display: flex;
        justify-content: center;
    }

    h2 {
        font-size: 40px;
    }

    h4 {
        font-size: 30px;
    }
    beer-list{
        justify-content: center;
        flex-direction: row; 
        flex-wrap: wrap; 
    }
    .logo {
        max-width: 160px;
        max-height: 160px;
        margin-top: 60px;
    }
    .beer-choices{
        width: 45%;
    }
    .beer-overlay p {
        margin-top: 45px;
    }

    .beer-overlay,
    .wrongOverlay,
    .correct-overlay {
        display: flex;
        flex-direction: column;
        font-family: 'Cinzel';
        align-items: center;
        justify-content: center;
        font-size: 8em;
        color: #F7DBA7;
        width: 87%;
        height: 80%;
        background-color: rgba(30, 45, 47, .99);
        position: absolute;
        z-index: 9999;
        color: white;
        border-left: 5px solid #1E2D2F;
        border-right: 6px solid #1E2D2F;
    }

    .fas {
        color: white;
        height: 60px;
        margin: 10px;
        text-shadow: 2px 10px #F7DBA7;
        animation-name: flashyborder;
        animation-duration: 750ms;
        animation-iteration-count: infinite;
    }

    @keyframes flashyborder {
        from {
            text-shadow: 2px 10px #F7DBA7
        }

        to {
            text-shadow: 4px 20px #C57B57
        }
    }

    .wrongOverlay {
        font-size: 3em;
    }

    .correct-overlay {
        font-size: 4em;
        text-align: center;
        flex-direction: column;
    }

    .correct-overlay p {
        color: white;
        /* text-shadow: 3px 3px #F7DBA7; */
        -webkit-text-stroke-color: #C57B57;
        -webkit-text-stroke-width: 1.5px;
    }

    .correct-overlay img {
        margin-top: -30px;
        margin-bottom: -30px;
        height: 300px;
    }

    .correct-overlay button {
        display: none;
        background-color: #1E2D2F;
        border: 3px solid #F7DBA7;
        color: #F7DBA7;
        font-size: .6em;
        padding: 5px;
        font-family: "Cinzel";
        cursor: pointer;
    }

    .winner-winner-chicken-dinner {
        font-size: 4em;
        width: 89%;
        height: 84.5%;
    }

    .question-container {
        margin-top: 0;
        height: 80vh;
    }

    .answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
    }

    .answers p {
        font-size: 35px;
        width: 32%;
        margin-top: 20px;
    }

}

@media only screen and (min-width: 1200px) {
    .characters img {
        max-width: 200px;
        max-height: 200px;
    }

    .game-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .right-pane {
        box-sizing: border-box;
        display: flex;
        width: 88%;
        height: 100%;
        flex-direction: column;
    }

    stats {
        width: 12%;
    }

    .avatar {
        display: block;
        width: 100px;
        height: 100px;
    }

    beer-list {
        flex: 3;
        background-color: #1E2D2F;
        color: #F7DBA7;
        height: 15%;
        width: 100%;
        z-index: 0;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        border-bottom: 3px groove #F7DBA7;
    }

    .beer-name {
        width: 150px;
        margin-left: 5px;
    }

    .desk-stat {
        display: inline-block;
    }

    .stats-bar {
        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1E2D2F;
        top: 0px;
        width: 100%;
        height: 100vh;
        border-right: 3px groove #F7DBA7;
    }

    .desk-stat {
        font-family: 'Kreon';
        background-color: #1E2D2F;
        color: #F7DBA7;
        text-align: center;
    }

    .drunk-stat,
    .round-num {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .stat-header {
        font-size: 1.5em;
        text-shadow: 2px 2px #C57B57;
        -webkit-text-stroke-color: #1E2D2F;
        -webkit-text-stroke-width: 1px;
        margin-bottom: 0px;
    }

    .num-display {
        -webkit-text-stroke-color: #1E2D2F;
        -webkit-text-stroke-width: 1px;
    }

    .beer-choices {
        flex-direction: row;
        width: auto;
    }

    .logo {
        max-height: 150px;
        max-width: 200px;
        margin: 0;
    }

    .extend-info {
        width: 200px;
    }

    .beer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .answers {
        max-height: 350px;
    }

    .answers p {
        font-size: 35px;
        max-width: 80%;
        min-width: 300px;
        margin-top: 20px;
    }

    .question {
        font-size: 42px;
        width: 80%;
    }

}