body {
    margin: 0;
    background-image: url(images/beer-labels.jpg);

    background: linear-gradient( rgba(225,229,231,.5), rgba(225,229,231,.5)), url(images/beer-labels.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

/* beer component */
.beer-overlay {
    display:none;
}
beer-list {
    flex-direction: column;
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999999;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    font-family: 'Kreon', serif;
    flex-wrap: wrap;
}

.beer-choices {
    width: 60%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.beer-choices p {
    margin: 3px 0px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.beer-name {
    font-family: 'Kreon', serif;
    font-size: 1.25em;
}

.extend-info {
    display: none;
    flex-direction: column;
    align-items: center;
}

/* stats component */

.stats-bar {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.desk-stat {
    display: none;
}

.avatar {
    display: none;
}

.drunk-stat {
    font-family: 'Kreon';
    text-align: center;
    margin: 0 10px;
    height: 15%;
    width: 25%;
    background-color: #1E2D2F;
    color: #F7DBA7;
}

.drunk-stat p,
.round-num p {
    margin-bottom: 8px;
}

.num-display {
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
}

.round-num {
    font-family: 'Kreon';
    text-align: center;
    margin: 0 10px;
    height: 15%;
    width: 25%;
    background-color: #1E2D2F;
    color: #F7DBA7;
}

/* title component */
title-screen {
    display: flex;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 35px;
    margin: 10px;
}

h4 {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    margin: 5px 60px;
    text-align: center;
}

.blurb {
    font-family: 'Kreon', serif;
    text-align: center;
    margin: 0px 20px;
    font-size: 18px;
}

.character_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters {
    font-family: 'Kreon', serif;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    text-shadow: 2px 2px rgba(30, 45, 47, .2);
}

.characters img {
    width: 100%;
}

.char_one {
    width: 50%;
}

.char_two {
    width: 50%;
}

.title-screen {
    background-color: rgba(255, 255, 255, 0.9);
    /* width: 85vw; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

/* trivia component */

trivia {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.question-container {
    font-family: 'Kreon', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.question {
    background-color: white;
    font-size: 28px;
    padding: 8px;
    border-radius: 5px;
    margin: 20px;
}


.answers p {
    background-color: white;
    font-size: 25px;
    padding: 8px;
    border-radius: 5px;
    margin: 40px;
    min-width: 100px;
    cursor: pointer;
}

.winner-winner-chicken-dinner {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Cinzel';
    align-items: center;
    font-size: 32px;
    color: #F7DBA7;
    width: 100%;
    height: 100%;
    background-color: rgba(30,45,47,.99);
    position: absolute;
    z-index: 9999;
    color: white;
}
.winner-winner-chicken-dinner button {
    background-color: #1E2D2F;
    border: 3px solid #F7DBA7;
    color: #F7DBA7;
    font-size: .6em;
    padding: 5px;
    font-family: "Cinzel";
    margin-bottom: 20px;
}

.wrongOverlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #F7DBA7;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(30, 45, 47, .99);
    text-align: center;
    font-family: "Cinzel"; 
}
.wrongOverlay button {
    background-color: #1E2D2F;
    border: 3px solid #F7DBA7;
    color: #F7DBA7;
    font-size: .6em;
    padding: 5px;
    font-family: "Cinzel";
}



@media only screen and (min-width: 600px) {

    .characters {
        width: 80%;
        font-size: 25px;
    }

    .characters img {
        width: 70%;
    }

    .blurb {
        font-size: 20px;
    }

    .title-screen {
        width: 80%;
    }

    title-screen {
        display: flex;
        justify-content: center;
    }

    h2 {
        font-size: 40px;
    }

    h4 {
        font-size: 30px;
    }

    .beer-overlay, .wrongOverlay, .correct-overlay {
        display: flex;
        font-family: 'Cinzel';
        align-items: center;
        justify-content: center;
        font-size: 8em;
        color: #F7DBA7;
        width: 89%;
        height: 84.5%;
        background-color: rgba(30,45,47,.99);
        position: absolute;
        z-index: 9999;
        color: white;
    }

    .wrongOverlay {
        font-size: 3em;
    }

    .correct-overlay {
        font-size: 6em;
        text-align: center;
        flex-direction: column;
    }

    .correct-overlay button {
        display: none;
        background-color: #1E2D2F;
        border: 3px solid #F7DBA7;
        color: #F7DBA7;
        font-size: .6em;
        padding: 5px;
        font-family: "Cinzel";
    }

    .congrats-overlay-title {
    text-shadow: 2px 2px #C57B57;
    -webkit-text-stroke-color: #1E2D2F;
    -webkit-text-stroke-width: 1px;
    }

    .winner-winner-chicken-dinner {
        font-size: 4em;
        width: 89%;
        height: 84.5%;
    }

}

@media only screen and (min-width: 1200px) {
.game-wrapper {
    display: flex;
    flex-wrap: wrap;
}

    .right-pane {
        box-sizing: border-box;
        display: flex;
        width: 90%;
        height: 100%;
        flex-direction: column;
    }

    stats {
        width: 10%;
    }

    .avatar {
        display: block;
        width: 100px;
        height: 100px;
    }

    beer-list {
        flex: 3;
        background-color: #1E2D2F;
        color: #F7DBA7;
        height: 15%;
        width: 100%;
        z-index: 0;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        border-bottom: 3px groove #F7DBA7;
    }

    .beer-name {
        width: 200px;
        margin-left: 5px;
    }

    .desk-stat {
        display: inline-block;
    }

    .stats-bar {
        position: relative;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1E2D2F;
        top: 0px;
        width: 100%;
        height: 100vh;
        border-right: 3px groove #F7DBA7;
    }

    .desk-stat {
        font-family: 'Kreon';
        background-color: #1E2D2F;
        color: #F7DBA7;
        text-align: center;
    }

    .drunk-stat,
    .round-num {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .stat-header {
        font-size: 1.5em;
        text-shadow: 2px 2px #C57B57;
        -webkit-text-stroke-color: #1E2D2F;
        -webkit-text-stroke-width: 1px;
        margin-bottom: 0px;
    }

    .num-display {
        -webkit-text-stroke-color: #1E2D2F;
        -webkit-text-stroke-width: 1px;
    }

    .beer-choices {
        flex-direction: row;
        width: auto;
    }

    .logo {
        max-height: 150px;
        max-width: 200px;
    }

    .extend-info {
        width: 200px;
    }

    .beer-info {
        display: flex;
        flex-direction: column;
    }

    .question-container {
        background-image: url("../public/images/menu.png");
        position: absolute;
        top: 200px;
    }

    .answers p {
        font-size: 35px;
        max-width: 80%;
        min-width: 300px;
    }

    .question {
        font-size: 42px;
        width: 80%;
    }

}
