<section class="correct-overlay" ng-show="$ctrl.showCorrect">
    <p class="congrats-page-title">Congratulations!</p> 
    <p>Have a beer!</p>
    <button ng-click="$ctrl.newRound();">Next Round</button>
</section>
<section ng-show="$ctrl.showWrong" class="wrongOverlay">
    <p>Sorry that was wrong </p>
    <button ng-click="$ctrl.newGame()" class="newGamebutton">Play again?</button>
</section>

<section class="winner-winner-chicken-dinner" ng-show="$ctrl.showWin">
    <p>Congratulations, you win!</p>
    <button ng-click="$ctrl.goHome();">Another Round</button>
    <button ng-click="$ctrl.goHome();">Get a ride home</button>
</section>

<section ng-show="$ctrl.showPick" class="beer-overlay">
    <p>Have a beer!</p>
</section>

<section class="question-container">
    <p class="question">{{ $ctrl.currentQuestion.question }}</p>
    <section class="answers">
        <p ng-repeat="answer in $ctrl.currentQuestion.answers" ng-click="$ctrl.evaluate(answer.eval)">{{ answer.answer }}</p>
        <!-- <p>{{ $ctrl.currentQuestion.answers[1].answer }}</p>
        <p>{{ $ctrl.currentQuestion.answers[2].answer }}</p>
        <p>{{ $ctrl.currentQuestion.answers[3].answer }}</p> -->
    </section>
</section>