<section class="title-screen">
    <section class="title-banner">
        <img src="../../images/hops-logo-peach-hat.png" />
        <h2>Hops Academy</h2>
        <img src="../../images/hops-logo-peach-hat-flipped.png" />
    </section>
    <section class="blurb">
        <p>Hops Academy, prove your worth while your tongue dances with delight! Choose your character and start
            downing that golden brown elixir of mischief! See if you’re able to answer simple trivia questions while
            the game simulates how drunk you are getting.</p>
    </section>
    <section class="character_choice">
        <h4>Choose a character to start!</h4>
        <section class="characters">
            <section ng-click="$ctrl.startGame('easy', 2);" class="char">
                <img src={{$ctrl.charArray[0]}}>
                <section class="stat">
                    <p>Difficulty: Easy</p>
                    <p>Tolerance: 2</p>
                </section>
            </section>
            <section ng-click="$ctrl.startGame('medium', 6)" class="char">
                <img src={{$ctrl.charArray[1]}}>
                <section class="stat">
                    <p>Difficulty: Medium</p>
                    <p>Tolerance: 6</p>
                </section>
            </section>
            <section ng-click="$ctrl.startGame('hard', 10);" class="char">
                <img src={{$ctrl.charArray[2]}}>
                <section class="stat">
                    <p>Difficulty: Hard</p>
                    <p>Tolerance: 10</p>
                </section>
            </section>
        </section>
    </section>
</section>