<section class="title-screen">
    <h2>Hops Academy</h2>
    <section class="blurb">
        <p>Welcome to Hops Academy! The game where you learn the general alcoholic content of beer by answering various trivia questions. Each round is 1 question and the strength of the brew affects your ability to answer the questions. You will choose from a selection of three beers, and the alcoholic content will not be revealed until after your selection.</p>
    </section>
    <section class="character_choice">
        <h4>Choose a character to start!</h4>
        <section class="characters">
            <section ng-click="$ctrl.startGame()" class="char_one">
                <img src="images/girl.png">
                <section class="stat_one">
                    <p>intelligence: 10</p>
                    <p>tolerance: 3</p>
                </section>
            </section>
            <section ng-click="$ctrl.startGame()" class="char_two">
                <img src="images/guy.png">
                <section class="stat_two">
                    <p>intelligence: 6</p>
                    <p>tolerance: 8</p>
                </section>
            </section>
        </section>
    </section>
</section>