<section class="title-screen">
    <section class="title-banner">
        <img src="../../images/hops-logo-peach-hat.png" />
        <h2>Hops Academy</h2>
        <img src="../../images/hops-logo-peach-hat-flipped.png" />
    </section>
    <section class="blurb">
        <p>Hops Academy, prove your worth while your tongue dances with delight! Choose your character and start downing that golden brown elixir of mischief! See if you’re able to answer simple trivia questions while the game simulates how drunk you are getting.</p>
        <button ng-click="$ctrl.onShow();">Instructions</button>
    </section>
    <section ng-show="$ctrl.showInstructions" class="instruction-overlay">
      <section class="how-to-play">
            <p>Choose a character to start the game. Note that each character represents either Easy, Medium, or Hard and that will determine the difficulty of the questions.</p>
            <p>There are five rounds to this game. Each round starts with you drinking a beer, after which your trivia question will then show up. Get the question right, and you must choose a new beer before the next question pops up. Get through all five Rounds and you are a Hops Academy Graduate!</p>
            <p>Watch for the water option! You will only be able to </p>
            <button ng-click="$ctrl.onShow();">X</button>
      </section>
    </section>
    <section class="character_choice">
        <h4>Choose a character to start!</h4>
        <section class="characters">
            <section ng-click="$ctrl.startGame('easy', 2);" class="char_one">
                <img src={{$ctrl.charArray[0]}}>
                <section class="stat_one">
                    <p>Difficulty: Easy</p>
                    <p>Tolerance: 2</p>
                </section>
            </section>
            <section ng-click="$ctrl.startGame('medium', 6)" class="char_two">
                <img src={{$ctrl.charArray[1]}}>
                <section class="stat_two">
                    <p>Difficulty: Medium</p>
                    <p>Tolerance: 6</p>
                </section>
            </section>
            <section ng-click="$ctrl.startGame('hard', 10);" class="char_tres">
                <img src={{$ctrl.charArray[2]}}>
                <section class="stat_tres">
                    <p>Difficulty: Hard</p>
                    <p>Tolerance: 10</p>
                </section>
            </section>
        </section>
    </section>
</section>